.popup {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 201;
    cursor: pointer;
    max-height: none;
    padding: 2rem;
}

.popup > button {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 202;
    margin: 1rem;
    padding: 0;
    width: 2rem;
    height: 2rem;
    background: none;
    border: none;
    color: #fff;
    font-size: large;
    user-select: none;
    cursor: pointer;
}

.popup > img {
    object-fit: contain;
    border-radius: 0;
    user-select: none;
    cursor: default;
}

.popup > span {
    position: fixed;
    bottom: 0;
    z-index: 202;
    margin: 1rem;
    color: #fff;
    cursor: default;
    font-size: larger;
    cursor: text;
}
