.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  align-self: center;
  max-width: 50rem;
}

.logo {
  height: 100px;
  width: 100px;
  margin-bottom: 1rem;
  border-radius: 20%;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.showcase {
  width: 100%;
  max-width: 50rem;
}

.main {
  max-width: 100rem;
  align-self: center;
}

.additionalText {
  padding: 0 var(--ifm-spacing-horizontal);
  :global(.task-list-item) {
    list-style-type: none;
  }

  :global(.contains-task-list) {
    padding-left: 0.5rem;
  }
}